.container {
  &__label {
    margin-top: 5px;
  }
  &__division {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    border-radius: 8px;
    padding-right: 10px;

    &__select {
      padding: 12px;
      border: none;
      outline: none;
      background-color: transparent;
      &:disable {
        opacity: 0.7;
      }
    }
  }
}
