.users {
  &__table {
    margin-top: 40px;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid #ddd;
    th,
    td {
      text-align: left;
      padding: 8px;
    }
    thead {
      tr {
        background-color: #f2f2f2;
      }
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    &__action {
      display: flex;
      gap: 10px;
      &__edit {
        padding: 15px;
        background-color: #d8cc23;
        color: #000;
        i {
          font-size: 20px;
        }
      }
      &__delete {
        padding: 15px;
        background-color: rgb(202, 11, 11);
        i {
          font-size: 20px;
        }
      }
    }
  }
}
